@mixin letter-spacing($spacing) {
  letter-spacing: ($spacing / 1000) * 1em;
}

@mixin line-spacing($spacing) {
  line-height: $spacing * 1px;
}

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$colors: (
  background: #151515,
  background-light: lighten(#151515, 10%),
  text-light: #f0f0f0,
  secondary-green: #009b77,
  secondary-red: #cc0000,
  text-title: #ffebeb
);

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

html {
  box-sizing: border-box;
  overflow-x: hidden !important;
}

body {
  background-color: color(background);
  font-family: "Avenir Next";
  width: 100%;
  height: 100%;

  nav {
    position: absolute;
    width: 100%;
    z-index: 99;
    padding: 0 !important;

    .navbar-brand {
      margin: 0 auto;
      font-family: "AvenirNext-DemiBoldItalic";
      font-size: 51px;
      @include line-spacing(70);
      color: color(text-title);
      margin-top: 40px;

      &:hover {
        color: color(text-title);
        text-decoration: none;
      }
    }

    .navbar-toggler {
      position: absolute;
      right: 22px;
      top: 58px;
      font-size: 30px;
    }

    @include respond-above(md) {
      a {
        font-size: 29px !important;
        color: #f0f0f0;
        transition: 0.3s ease-in-out;
      }
      a:hover {
        color: #e2dbdb5d;
        text-decoration: none;
      }

      .navbar-brand {
        text-transform: uppercase;
        margin-left: 4%;
        margin-top: 0;
        padding: 0;
        line-height: 130px;
        // @include line-spacing(53);
        font-size: 39px !important;
      }

      ul {
        position: absolute;
        left: 60%;
        li {
          padding-right: 49px;
          a {
            display: block;
            // font-style: italic;
            // font-weight: 600;
            line-height: 53px;
          }
        }
      }
    }
  }

  #side-menu {
    background-color: color(background) !important;
    ul {
      li * {
        font-size: 40px;
        color: color(text-light);

        &:hover {
          text-decoration: none;
          color: darken(color(text-light), 30%);
        }
      }
    }

    .close {
      color: color(text-light);
    }
  }

  .main-heading {
    height: 100%;
    font-family: "AvenirNext-Bold";

    h1 {
      font-size: 61px !important;
      color: color(text-title);
      padding-top: 201px;
      text-align: center;
      font-size: 48px;
      @include letter-spacing(40);
      @include line-spacing(74);
      z-index: 99;
    }

    h2 {
      margin-top: 20px;
      font-size: 44px !important;
      text-align: center;
      color: color(text-title);
      z-index: 99;
      @include letter-spacing(70);
      @include line-spacing(47);
      z-index: 99;
    }

    #green-bar {
      position: absolute;
      top: 0px;
      background-color: color(secondary-green);
      clip-path: polygon(0 0, 100% 0, 100% 40%, 0 67%);
      z-index: -1;
      width: 100%;
      height: 100vh;

      #violin-svg-background {
        position: absolute;
        top: 134.6px;
        left: -218.65px;
        transform: rotate(53deg);
        // fill: rgba(#000000, 0.18);
        border: none;
        filter: opacity(0.18);
        width: 705.09px;
        height: 224.75px;
        // padding: 5% 5% 1% 5%;
      }
    }

    .text-white {
      margin: 80px 18px;
      font-family: "Avenir Next";
      color: color(text-light);
      @include letter-spacing(40);
      @include line-spacing(46);
    }
  }

  @include respond-above(md) {
    .main-heading {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      #green-bar {
        width: 448px;
        height: 641px;
        position: absolute;
        top: 0px;
        left: 214px;
        background-color: #009b77;
        z-index: -999;
        clip-path: none;

        #violin-svg-background {
          position: absolute;
          top: 334.6px;
          left: -18.65px;
          transform: rotate(53deg);
          // fill: rgba(#000000, 0.18);
          border: none;
          filter: opacity(0.18);
        }
      }

      span {
        position: relative;
        left: 4%;
        bottom: 0px;
        margin: 0;
        color: #ffebeb;
        height: 236px;
        width: 460px;
        font-size: 50px;
        @include letter-spacing(40);
        @include line-spacing(84);
        font-family: "AvenirNext-Bold";

        h1 {
          text-align: left !important;
          padding-top: 49px;
        }
        h2 {
          text-align: left !important;
        }
      }

      div {
        position: absolute;
        left: 60%;
        font-family: "AvenirNext-Regular";
        font-size: 20px;
        @include line-spacing(46);
        @include letter-spacing(40);
        max-width: 505px;
        height: min-content;
        padding-right: 40px;
      }
    }
  }

  .call-to-action {
    height: 100%;
    width: 100%;

    #red-bar {
      position: absolute;
      background-color: color(secondary-red);
      z-index: -1;
      clip-path: polygon(0 8%, 100% 50%, 100% 100%, 0 100%);
      width: 100%;
      height: 100vh;

      #trumpet-svg-background {
        position: relative;
        top: 234.6px;
        left: -38.65px;
        border: none;
        -webkit-filter: opacity(0.18);
        filter: opacity(0.18);
        // width: 100%;
        // height: auto;
        transform: rotate(10deg);
      }
    }

    h3 {
      font-family: "AvenirNext-HeavyItalic";
      @include line-spacing(106);
      @include letter-spacing(40);
      text-transform: lowercase;
      min-width: 310px;
      font-size: 59px;
      color: color(text-light);
      padding-top: 150px;
      word-spacing: 100vh;
      text-align: center;
    }

    .text-white {
      max-width: 277px;
      font-size: 19px;
      font-family: "AvenirNext-Regular";
      @include line-spacing(40);
      @include letter-spacing(40);
      margin-top: 20px;
      text-align: center;
      color: color(text-light);
      margin: 0 auto;
    }

    @include respond-above(md) {
      height: min-content;
      min-height: 300px;
      width: 35%;
      position: absolute;
      top: 497px;
      left: 60%;
      // background-color: #cc0000;
      display: flex;
      flex-direction: column;
      align-items: center;

      #red-bar {
        position: absolute;
        background-color: #cc0000;
        width: 100%;
        height: 100%;
        clip-path: none;

        #trumpet-svg-background {
          position: relative;
          border: none;
          filter: opacity(0.18);
          top: 15%;
          left: 30%;
          height: 100%;
        }
      }

      h3 {
        color: #f0f0f0;
        font-size: 38px;
        font-family: "AvenirNext-HeavyItalic";
        @include letter-spacing(40);
        @include line-spacing(68);
        text-transform: lowercase;
        width: 90%;
        padding-top: 20px;
        word-spacing: normal;
      }

      div {
        font-size: 19px;
        @include letter-spacing(40);
        @include line-spacing(40);
        width: 90%;
      }
    }
  }
}

.custom-btn {
  border: none;
  border-radius: 0px !important;
  color: #f0f0f0;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "AvenirNext-DemiBold";
  padding: 0;
  margin: 0;
  font-size: 25px;
  width: 250px;
  height: 60px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #009b77 50%);
  background-position: -5% 0%;
  transition: 0.2s background-position ease-in-out;

  &:hover {
    background-position: -100% 0%;
  }
}

.watermark {
  position: absolute;
  top: 20%;
  left: -12%;
  // width: 1526px;
  // height: 702px;
  font-family: "AvenirNext-Bold";
  font-size: 700px;
  @include letter-spacing(40);
  @include line-spacing(89);
  color: rgba(#f0f0f0, 0.03);
  z-index: -9999;
}
