html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
  font-family: "Avenir Next";
  max-width: 100%;
  height: 100%;
}

body nav {
  position: absolute;
  width: 100%;
  z-index: 99;
  padding: 0 !important;
}

body nav .navbar-brand {
  margin: 0 auto;
  font-family: "AvenirNext-DemiBoldItalic";
  font-size: 51px;
  line-height: 70px;
  color: #ffebeb;
  margin-top: 40px;
}

body nav .navbar-brand:hover {
  color: #ffebeb;
  text-decoration: none;
}

body nav .navbar-toggler {
  position: absolute;
  right: 22px;
  top: 58px;
  font-size: 30px;
}

@media (min-width: 992px) {
  body nav a {
    font-size: 29px !important;
    color: #f0f0f0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  body nav a:hover {
    color: #e2dbdb5d;
    text-decoration: none;
  }
  body nav .navbar-brand {
    text-transform: uppercase;
    margin-left: 4%;
    margin-top: 0;
    padding: 0;
    line-height: 130px;
    font-size: 39px !important;
  }
  body nav ul {
    position: absolute;
    left: 60%;
  }
  body nav ul li {
    padding-right: 49px;
  }
  body nav ul li a {
    display: block;
    line-height: 53px;
  }
}

body #side-menu {
  background-color: #151515 !important;
}

body #side-menu ul li * {
  font-size: 40px;
  color: #f0f0f0;
}

body #side-menu ul li *:hover {
  text-decoration: none;
  color: #a4a4a4;
}

body #side-menu .close {
  color: #f0f0f0;
}

body .main-heading {
  height: 100%;
  font-family: "AvenirNext-Bold";
  width: 100vw;
}

body .main-heading span h1 {
  font-size: 61px !important;
  color: #ffebeb;
  padding-top: 201px;
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.04em;
  line-height: 74px;
  z-index: 99;
}

body .main-heading span h2 {
  margin-top: 20px;
  font-size: 44px !important;
  text-align: center;
  color: #ffebeb;
  z-index: 99;
  letter-spacing: 0.07em;
  line-height: 47px;
  z-index: 99;
}

body .main-heading #green-bar {
  position: absolute;
  top: 0px;
  background-color: #009b77;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 67%);
          clip-path: polygon(0 0, 100% 0, 100% 40%, 0 67%);
  z-index: -1;
  width: 100%;
  height: 100vh;
}

body .main-heading #green-bar #violin-svg-background {
  position: absolute;
  top: 134.6px;
  left: -218.65px;
  -webkit-transform: rotate(53deg);
          transform: rotate(53deg);
  border: none;
  -webkit-filter: opacity(0.18);
          filter: opacity(0.18);
  width: 705.09px;
  height: 224.75px;
}

body .main-heading .text-white {
  margin: 80px 18px;
  font-family: "Avenir Next";
  color: #f0f0f0;
  letter-spacing: 0.04em;
  line-height: 46px;
}

body .main-heading .watermark {
  display: none;
}

@media (min-width: 992px) {
  body .main-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  body .main-heading #green-bar {
    width: 448px;
    height: 641px;
    position: absolute;
    top: 0px;
    left: 214px;
    background-color: #009b77;
    z-index: -999;
    -webkit-clip-path: none;
            clip-path: none;
  }
  body .main-heading #green-bar #violin-svg-background {
    position: absolute;
    top: 334.6px;
    left: -18.65px;
    -webkit-transform: rotate(53deg);
            transform: rotate(53deg);
    border: none;
    -webkit-filter: opacity(0.18);
            filter: opacity(0.18);
  }
  body .main-heading span {
    position: relative;
    left: 4%;
    bottom: 0px;
    margin: 0;
    color: #ffebeb;
    height: 236px;
    width: 460px;
    font-size: 50px;
    letter-spacing: 0.04em;
    line-height: 84px;
    font-family: "AvenirNext-Bold";
  }
  body .main-heading span h1 {
    text-align: left !important;
    padding-top: 49px;
  }
  body .main-heading span h2 {
    text-align: left !important;
  }
  body .main-heading div {
    position: absolute;
    left: 60%;
    font-family: "AvenirNext-Regular";
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.04em;
    max-width: 505px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding-right: 40px;
  }
}

body .call-to-action {
  height: 100%;
  width: 100%;
}

body .call-to-action #red-bar {
  position: absolute;
  background-color: #cc0000;
  z-index: -1;
  -webkit-clip-path: polygon(0 8%, 100% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 8%, 100% 50%, 100% 100%, 0 100%);
  width: 100%;
  height: 100vh;
}

body .call-to-action #red-bar #trumpet-svg-background {
  position: relative;
  top: 234.6px;
  left: -38.65px;
  border: none;
  -webkit-filter: opacity(0.18);
  filter: opacity(0.18);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body .call-to-action h3 {
  font-family: "AvenirNext-HeavyItalic";
  line-height: 106px;
  letter-spacing: 0.04em;
  text-transform: lowercase;
  min-width: 310px;
  font-size: 59px;
  color: #f0f0f0;
  padding-top: 150px;
  word-spacing: 100vh;
  text-align: center;
}

body .call-to-action .text-white {
  max-width: 277px;
  font-size: 19px;
  font-family: "AvenirNext-Regular";
  line-height: 40px;
  letter-spacing: 0.04em;
  margin-top: 20px;
  text-align: center;
  color: #f0f0f0;
  margin: 0 auto;
}

@media (min-width: 992px) {
  body .call-to-action {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    min-height: 300px;
    width: 35%;
    position: absolute;
    top: 497px;
    left: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .call-to-action #red-bar {
    position: absolute;
    background-color: #cc0000;
    width: 100%;
    height: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
  body .call-to-action #red-bar #trumpet-svg-background {
    position: relative;
    border: none;
    -webkit-filter: opacity(0.18);
            filter: opacity(0.18);
    top: 15%;
    left: 30%;
    height: 100%;
  }
  body .call-to-action h3 {
    color: #f0f0f0;
    font-size: 38px;
    font-family: "AvenirNext-HeavyItalic";
    letter-spacing: 0.04em;
    line-height: 68px;
    text-transform: lowercase;
    width: 90%;
    padding-top: 20px;
    word-spacing: normal;
  }
  body .call-to-action div {
    font-size: 19px;
    letter-spacing: 0.04em;
    line-height: 40px;
    width: 90%;
  }
}

.custom-btn {
  border: none;
  border-radius: 0px !important;
  color: #f0f0f0;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "AvenirNext-DemiBold";
  padding: 0;
  margin: 0;
  font-size: 25px;
  width: 250px;
  height: 60px;
  background-size: 200% 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #009b77));
  background-image: linear-gradient(to right, transparent 50%, #009b77 50%);
  background-position: -5% 0%;
  -webkit-transition: 0.2s background-position ease-in-out;
  transition: 0.2s background-position ease-in-out;
}

.custom-btn:hover {
  background-position: -100% 0%;
}
/*# sourceMappingURL=app.css.map */